body{
	float:left;
}
#mainCanvas{
	background-color: #fff0f5;
}
#instructions p{
	margin-left: 5px;
	float: right;
	display: inline-block;
}
#scores{
	float:left;
}
#scores p{
	margin:0;
}
#objective{
	border-style: groove;
	padding:5px;
	position:relative;
	float:right;
}